# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# hatch-vcs 生成
src/eb_tools/_version.py

# Environments
.venv/

# Testing / tooling caches
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/

tmp/

*.env
*.service
